@{ 
    ViewBag.Title = "Cadastro de Grupo de Produtos";
}

<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>


    <section id="cadastro_conteudo">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div id="cabecalho_grid" class="row">

                    </div>
                    <a id="btn_incluir" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus">Incluir</i></a>
                    <div class="row">
                        <div class="col-md-12">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <a class="btn btn-primary btn_alterar" role="button"><i class="glyphicon glyphicon-pencil">Alterar</i></a>
                                            <a class="btn btn-danger btn_excluir" role="button"><i class="glyphicon glyphicon-trash">Excluir</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>

</div>